@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(0,3,36);
background: linear-gradient(90deg, rgba(0,3,36,1) 0%, rgba(0,161,113,1) 0%, rgba(3,71,215,1) 73%, rgba(83,49,221,1) 95%);
}

main {
  flex-grow: 1;
}

#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

.big-checkbox {width: 20px; height: 20px;}

.viewHeightCol {
  min-height: 25vh;
}
